<!DOCTYPE html>
<html lang="eng">
  <head>
    <link rel="manifest" href="/static/manifest.json">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" free gas split no need register on cookies maight sleep so give wakeup">
    <meta name="google-site-verification" content="yPP9-02JgFSp6lVYAHHDdBnx4jXnMZxg3VZUyX-dB3Q" />
    <script src="/static/script.js</script>
    </head>
    <body>
      <h1>GAS-SPLI-APP</h1>
      <h2> FREE </h2>
      <H2>split gas payments for friends</H2>
        <div>
        <label>travel(km)</label>
        <input id="travel" type="number" name="travel" step="0.1" placeholder="esim. 150" required></div>
        <div>
        <label>fuel consumption (L/100km)</label>
        <input id="fuel" type="number" name="cars"  step="0.1" placeholder="esim. 6.5" required></div>
        <div>
        <label>fuel price (€/L)</label>
        <input id="price"  type="number" name="gasprice"
        step="0.1" placeholder="esim. 1.80" reqired></div>
        <div>
        <label>passengers</label>
        <input id="passengers" type="number" name="p" step="1" placeholder="esim. 4" required></div>
        <button onclick="mode()" type="button">DONE</button>
      <div id="total"></div>
    </body>
</html>
